
body {
  background-image: url(fotos/fondopelu.jpg);
background-size: 500px}

div.flex-container{ display: flex;
  justify-content: center;
padding: 10px;
background: white;
  opacity: 90%;
  font-family: cursive;
  font-size: 25px;
}

div.prodctos{ background: white}

div.container {
opacity: 80%;
box-sizing: border-box;
margin: 1%;
}

.caja {
  background-color: white;
  opacity: 90%;
}
